
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic')

$main-color: #DB2226
$main-color-disabled: #E18385
$main-color-hover: #cb2123
$color-black: #1f1f1f

.solid-button
  display: block
  border: none
  background: $main-color
  border-radius: 5px
  color: white
  cursor: pointer
  transition: all 0.1s
  &:hover
    background: $main-color-hover
  &:disabled
    background: $main-color-disabled

.big
  width: 200px
  height: 50px

.medium
  width: 150px
  height: 40px

.small
  width: 120px
  height: 30px

.lite-button
  position: relative
  display: block
  border: solid 2px $main-color
  border-radius: 5px
  cursor: pointer
  transition: all 0.1s
  background: white
  color: $color-black
  font-weight: 400
  &:hover
    border-color: #cb0001
    color: $main-color
  &:disabled
    border-color: $main-color-disabled
    color: $color-black

.lite-button_file
  cursor: pointer
  font-size: 13px
  display: flex
  justify-content: center
  align-items: center
  label
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    width: 150px
    height: 40px

.input-file-btn
  z-index: -1
  position: absolute
  &:hover
    cursor: pointer