
$main-color: #DB2226
$main-color-disabled: #E18385
$main-color-hover: #cb2123

.solid-button
  display: block
  border: none
  background: $main-color
  border-radius: 5px
  color: white
  cursor: pointer
  transition: all 0.1s
  &:hover
    background: $main-color-hover
  &:disabled
    background: $main-color-disabled

.big
  width: 200px
  height: 50px