

.wrapper-check
  margin: 20px 0
  display: flex
  justify-content: center

.logpass-form
  width: 600px
  margin: 0 auto

.wrapper-field
  display: flex
  justify-content: center
  .field
    width: 400px


.form-button
  margin: 30px auto 0

.form-error
  color: red
  margin-top: 10px
  text-align: center

